<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Imprimir Aposta
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="white">Cancelar</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list padding>
    <button ion-button block (click)="startScanning()">Procurar dispositivos</button>
    <ion-list-header>
      Aparelhos pareados
    </ion-list-header>
    <button ion-item
      *ngFor="let device of pairedDevices"
      (click)="printBet(device.address)">

      {{device.name}}
    </button>
    <ion-list-header>
      Aparelhos não-pareados
    </ion-list-header>
    <button ion-item
      *ngFor='let device of unpairedDevices'
      (click)="selectDevice(device.address)">

      {{device.name}}
    </button>
  </ion-list>
  <div class="loader" [hidden]="!loading">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>