page-home {
  .championship-list {
    .active {
      background-color: #E5E5E5 !important;
    }

    .championship-item {
      background-color: #f8f8f8;

      .icon {
        vertical-align: middle;
        margin-right: 8px;
      }
    }

    .item-game .item-content {
      padding: 16px !important;
    }

    .item-inner {
      padding: 0 !important;
    }

    ion-label.label {
      margin: 13px 10px !important;
    }

    .game-row {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .left-team-img {
      float: left;
      margin: auto auto auto 0;
      width: 30px;
      height: 30px;
    }

    .right-team-img {
      float: right;
      margin: auto 0 auto auto;
      width: 30px;
      height: 30px;
    }
  }
}
