page-home {
  .championship-list {
    .button-md {
      text-transform: none;
    }

    .button-game-added {
      padding: 25px 10px;
      line-height: 1.7;
    }

    .active {
      background-color: #E5E5E5 !important;
    }

    .championship-item {
      background-color: #f8f8f8;

      .icon {
        vertical-align: middle;
        margin-right: 8px;
      }
    }

    .item-game .item-content {
      padding: 16px !important;
    }

    .item-inner {
      padding: 0 !important;
    }

    ion-label.label {
      margin: 13px 10px !important;
    }
  }
}
